*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

# IntelliJ IDEA project Files
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse Project
.classpath
.project
.settings/

# Android build
bin/
local.properties
build/
.gradle

# OS Auto gen
Thumbs.db
.DS_Store

sdk build tools  = 24.0.1
platform-tools = 24.0.1
sdk tools = 25.1.7

